<h1>idea. show</h1>

 <div class="shows">
  <div class = "row">

   <div class="col-md-11">
    <ul class="row">
      <li class="col-offset-md-1 col-md-5">Title: <%= @idea.title %></li>
      <li class="col-md-6" >Content: <%= @idea.content %></li>
    </ul>
   </div>

  </div>
 </div>
