<body> 

<div class ="container">
<div class="type-js headline">
  <h3 class="text-js">「日本語の使い方」を実例とともに考え直し、
  <br>日本語教育に生かすためのアプリです。</h3>
</div>
</div>

<br>

<!--<div>-->
<!--  <p>このサイトでは、みなさんが「今、つかっている日本語」を集めています。</p>-->
<!--  <p>日本語教師や日本語教師になりたい人のために作りました。</p>-->
<!--  <p>・・・・・・・・・・・・・・・・・・・・・・・・・・・・</p>-->
<!--  <p>・・・・・・・・・・・・・・・・・・・・・・・・・・・・</p>-->
<!--</div>-->


</body>

<br>
<div class ="linkbtn">
  <%= link_to "  Top  ", root_path,class: "btn btn-4" %>
</div>