<!DOCTYPE html>
<html>
  <head>
    <title>Nihongoapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="about.scss">
    <link rel="javascript" href="about.js">
  </head>

<body class="about"> 

<!--<div class="type-js headline">-->
<!--  <h1 class="text-js">このサイトでは、みなさんが「今、つかっている日本語」を集めています。<br>日本語教師や日本語教師になりたい人のために作りました。</h1>-->
<!--</div>-->
<br>
<div>
  <p>このサイトでは、みなさんが「今、つかっている日本語」を集めています。</p>
  <p>日本語教師や日本語教師になりたい人のために作りました。</p>
  <p>・・・・・・・・・・・・・・・・・・・・・・・・・・・・</p>
  <p>・・・・・・・・・・・・・・・・・・・・・・・・・・・・</p>
</div>


</body>

<br>
<div class ="linkbtn">
  <%= link_to "  Top  ", root_path,class: "btn btn-4" %>
</div>