<h1 class="titles">ふだんの日本語あつめ</h1>

<!--コンテンツ全体wrap-->
 <div class="wrap">
 
  <!--日本語あつめの趣旨説明-->
  <div class="well well-sm fudanshushi" style="font-family:'shirokuma";>
    <h3 class="fudanshushi">「今、話されている日本語」をあつめています！
     <br>「つくった、かんがえたもの」ではなく、</h3>
      <h1 class="fudanshushi" style="font-size: 5vh;" >「あなたがほんとうにつかった、きいた日本語」</h1>
      <h3 class="fudanshushi">を、あつめています。
      <br>
      <br>日本語をペラペラ話せても、それを「人につたえよう!」となると、あんがいむずかしいもので、
      <br>いつも話しているはずなのに、「ほんとうにそうかな…?」と意外と、じしんがなくなるものです。
      <br><br>そんな時、「きほん」に、「じつぶつ」に立ちかえって、そこにあるものを見つめること、
      <br>=「ぶんせき」をする時に、リアルなサンプルは、ほんとうに大事なリソースになります。
      <br><br>「ともだちとのおしゃべり」・・・<br>「だれかからのメッセージ」・・・
      <br>「みかけたポスター」・・・<br>「ドラマで言っていたセリフ」・・・
      <br>「ラジオからきこえてきたこえ」・・・”生”の日本語、おまちしています。
     </h3>  
  </div>
  <!--趣旨説明おわり-->

  <!--<div class="main">-->
   <!--文法項目一覧パネル-->
<br>
<h3 style="font-size: 3vh;">☞下の文法項目一覧より項目を選ぶと、投稿ページに移ります。</h3>
<br>
      <div class="panel panel-warning fudanpanel">
      <!--パネルタイトル-->
        <div class="panel-heading">
         <p> 文法項目一覧 </p> 
	       </div>
   	  <!--パネルタイトル終わり-->
   	  <!--パネル本体-->
   	    <div class="panel-body" style="font-size: 2rem; line-height: 150%;">
      
        <!--table式文法項目一覧-->
         <table>
           <tr>
            <th>  文法項目  </th>  
           </tr>
            <% @topics.each do |topic| %>
           <tr>
            <td><%= link_to topic.title, topic_path(topic.id) %></td>
           </tr>
            <% end %>
         </table>
        <!--table式一覧終わり    -->

        </div>
      <!--パネル本体終わり-->

   </div>
   <!--パネル全体終わり-->
 
 </div>
 <!--wrapおわり-->
 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="modal.js"></script>


</body>


