<!DOCTYPE html>
<html>
  <head>
    <title>Nihongoapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="top.scss">
    <link rel="javascript" href="top.js">
  </head>
  
<body class = "top">
    
<div class="parent">
  <a class="circle" href="~"></a>
</div>

<div class="logo"><b>N<span>ih</span>og<span>o_</span>No</b>
<br>
<b>T<span>su</span>kai<span>k</span>a<span>t</span>a</b>
<br>
<b>_L<span>a</span>B.</b></div>


</body>