<h3>こんにちは。<%= @contact.name %>さん。
<br>「にほんごきょうしのほしいもの。」です。</h3>


<h1>あなたの「そうだん」に「回答」がつきました！</h1>


<h3>こちらから、ご確認ください。
<br>https://nihongokyooshinohoshiimono.herokuapp.com/
<br> ※ログイン→「ふだんの日本語」投稿→からお進みください。</h3>


<h4>「そうだん」の内容</h4>

<!--ここに投稿者の「そうだん」内容-->
<p>content: <%= @contact.content %></p>


