<body> 
 <h1 class="titles">このサイトでできること</h1>

<div class ="container_about">
<div class="row">
  <!--<h3 class="text-js">-->
  <h3 class="col-md-12 xs-12 shushi">
  日本語のせんせいをしています。"ほしいもの"をあつめたサイトをつくってみました。
  <br>
  <br>「ほんとうに、こういう言い方するかな...?」と、ちょっと不安な時は、しぜんなサンプルがいっぱいほしい!
  <br>いそがしくって、いっぱいいっぱいな時も、おちついて、大事なことをわすれないでいたい!
  <br>まよった時、なやんだ時、だれかにそうだんして、いっしょにかんがえたい!
  <br>
  <br>"まなびをしっかりサポートできるせんせい"をめざす人と、
  <br>いっしょにがんばるためのサイトになればとおもっています。</h3>


  <h4 class="col-md-12 shushi">JLPTなど"テストをパスするためのべんきょう"もありますが、
  <br>わたしは「日本語でゆたかにコミュニケーションしたいひと」のサポートをしています。             
  <br>かれらのゴールにむかって、どんなじゅんびを、どうやって、なににちゅういしてしたらいいか。                   
  <br>クラスでは、どんなところにきをつけて、どんなかつどうしたらいいか。    
  <br>
  <br>まじめに、いっしょうけんめい、考えていきます!
  <br><br> ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓
  <br>
  <br</h4>
  <h3 class ="well well-sm contentsintro" style="text-align: left">Contents
  <br>♥　「ふだんの日本語あつめ」 ☞ 生”の日本語をあつめています。とうこうすると、全部えつらんもできます。
  <br>♥　「日本語ぶんせき」 ☞ "いろいろなぶんぽうのmeaning,function,usage...ぶんせきします。
        <br>ぶんせき方法のしょうかいもします。
  <br>♥　「レッスンのコツとアイデア」 ☞ " 日本語のクラスできをつけることやレッスンアイデアのシェアをします。
  <br>♥　「そうだん」 ☞ "日本語や日本語をおしえていてこまったこと、なんでもそうだんできます。
  </h3>
 <br>
 
</div>
</div>



<!--<div class="container-fluid ppt">-->
<!--  <ul class="row col-md-12">-->
<!--    <li class="col-md-8 col-md-offset-2 col-xs-12 image"><%#= image_tag 'about1.png',:width =>'1000px' %></li><br>-->
<!--    <li class="col-md-11 col-md-offset-1 col-xs-12 image"><%#= image_tag 'about2.png',:width =>'1000px' %></li><br>-->
<!--    <li class="col-md-11 col-md-offset-1 col-xs-12 image"><%#= image_tag  'about3.png',:width =>'1000px' %></li>-->
<!--  </ul>-->
<!--</div>-->


</body>

