<body> 
 <h1 class="titles">このサイトでできること</h1>

<div class ="container_about">
<div class="row">
  <!--<h3 class="text-js">-->
  <h3 class="col-md-12 xs-12 shushi">
  日本語のせんせいをしています。<br class="mb">"ほしいもの"をあつめたサイトをつくってみました。</h3>
  <br>
  <h4 class="col-md-12 shushi">JLPTなど"テストをパスするためのべんきょう"もありますが、
  <br>わたしは「日本語でゆたかにコミュニケーションしたいひと」のサポートをしています。             
  <br>かれらのゴールにむかって、どんなじゅんびを、どうやって、なににちゅういしてしたらいいか。                   
  <br>クラスでは、どんなところにきをつけて、どんなかつどうしたらいいか。    
  <br>
  <br>まじめに、いっしょうけんめい、考えていきます!  </h4>
  <br>.<br>
 
  <h3 class ="well well-sm contentsintro" style="text-align: left">Contents
  <br>♥　「ふだんの日本語あつめ」 ☞ ほんとうにつかったり、きいたりした“生”の日本語をあつめます。とうこうすると、全部えつらんできます。
  <br>
  <br>♥　「日本語ぶんせき」 ☞ ぶんぽうのいみ、きのう、つかいかた...ぶんせきします。ぶんせき方法のしょうかいもします。
  
  <br>
  <br>♥　「レッスンのコツとアイデア」 ☞ " 日本語のクラスで気をつけることやレッスンアイデアのシェアをします。
  <br>
  <br>♥　「そうだん」 ☞ "日本語や日本語をおしえていてこまったこと、なんでもそうだんできます。
  </h3>
 <br>
 

  <p class="col-md-12 xs-12 shushi">「ほんとうに、こういう言い方するかな...?」と、<br class="mb">ちょっと不安な時は、しぜんなサンプルがいっぱいほしい!
  <br>いそがしくって、いっぱいいっぱいな時も、おちついて大事なことをわすれないでいたい!
  <br>まよった時、なやんだ時、だれかにそうだんして、いっしょにかんがえたい!
  <br>
  <br>"まなびをしっかりサポートできるせんせい"をめざす人と、
  <br>いっしょにがんばるためのサイトになればとおもっています。</h3>
  <br><br><br>
 
</div>
</div>



<!--<div class="container-fluid ppt">-->
<!--  <ul class="row col-md-12">-->
<!--    <li class="col-md-8 col-md-offset-2 col-xs-12 image"><%#= image_tag 'about1.png',:width =>'1000px' %></li><br>-->
<!--    <li class="col-md-11 col-md-offset-1 col-xs-12 image"><%#= image_tag 'about2.png',:width =>'1000px' %></li><br>-->
<!--    <li class="col-md-11 col-md-offset-1 col-xs-12 image"><%#= image_tag  'about3.png',:width =>'1000px' %></li>-->
<!--  </ul>-->
<!--</div>-->


</body>

