<body> 
 <h1 class="titles">このサイトでできること</h1>

<div class ="container_about">
<div>
  <!--<h3 class="text-js">-->
  <h3 class="shushi">
  日本語のせんせいをしています。"ほしいもの"をあつめたサイトをつくってみました。
  <br>「どうやってつかうんだっけ？」とちょっと自信がない時、しぜんなサンプルがいっぱいほしい。
  <br>いそがしくって、大事なことをわすれてしまいそうな時も、ブレないでいたい。
  <br>まよった時、なやんだ時、誰かにそうだんしたい。
  <br>まなびをしっかりサポートできるせんせいをめざして、がんばりましょう。</h3>


  <h4 class="shushi">わたしは、JLPTなどのテストではなく「話せるようになる」ことをゴールにしています。             
  <br>ゴールにむかって、どんなじゅんびを、どうやって、なににちゅういしてしたらいいか？                   
  <br>クラスでは、どんなところにきをつけて、どんなかつどうしたらいいか？        
  <br>それをまじめに、いっしょうけんめい、考えていきます。
  <br>このサイトでできること、めざしていること、ぜひ、ご一読ください！</h4>
 <br>
 
</div>
</div>


<br><br><br><br><br><br><br><br>

<div class="container-fluid ppt">
  <ul class="row">
    <li class="col-md-offset-1 col-md-10 col-xs-12 image"><%= image_tag 'about1.png',:width =>'1000px' %></li><br>
    <li class="col-md-offset-1 col-md-10 col-xs-12 image"><%= image_tag 'about2.png',:width =>'1000px' %></li><br>
    <li class="col-md-offset-1 col-md-10 col-xs-12 image"><%= image_tag  'about3.png',:width =>'1000px' %></li>
  </ul>
</div>


</body>

