<body> 
 <h1 class="titles">このサイトでできること</h1>

<div class ="container_about">
<div class="row">
  <!--<h3 class="text-js">-->
  <h3 class="col-md-12 xs-12 shushi">
  日本語のせんせいをしています。"ほしいもの"をあつめたサイトをつくってみました。
  <br>「ほんとうに、こういう言い方するかな？」と、ちょっと自信がない時は、しぜんなサンプルがいっぱいほしい。
  <br>いそがしくって、いっぱいいっぱいな時も、おちついて、大事なことをわすれないでいたい。
  <br>まよった時、なやんだ時、誰かにそうだんして、いっしょにかんがえたい。
  <br>
  <br>“まなびをしっかりサポートできるせんせい”をめざす人と、
  <br>いっしょにがんばるためのサイトになればとおもっています。</h3>


  <h4 class="col-md-12 shushi">JLPTなどテストをパスするための勉強もありますが、
  <br>わたしは「日本語でゆたかにコミュニケーションしたいひと」のサポートをしています。             
  <br>かれらのゴールにむかって、どんなじゅんびを、どうやって、なににちゅういしてしたらいいか。                   
  <br>クラスでは、どんなところにきをつけて、どんなかつどうしたらいいか。        
  <br>まじめに、いっしょうけんめい、考えていきます。
  <!--<br>このサイトでできること、めざしていること、ぜひ、ご一読ください！-->
  </h4>
 <br>
 
</div>
</div>


<!--<br><br><br><br><br><br><br><br>-->

<div class="container-fluid ppt">
  <ul class="row col-md-12">
    <li class="col-md-8 col-md-offset-2 col-xs-12 image"><%= image_tag 'about1.png',:width =>'1000px' %></li><br>
    <li class="col-md-11 col-md-offset-1 col-xs-12 image"><%= image_tag 'about2.png',:width =>'1000px' %></li><br>
    <li class="col-md-11 col-md-offset-1 col-xs-12 image"><%= image_tag  'about3.png',:width =>'1000px' %></li>
  </ul>
</div>


</body>

