<body> 
 <h1 class="titles">ABOUT</h1>

<div class ="container_about">
<div class="type-js headline">
  <h3 class="text-js">
  日本語教師による、日本語教師（と、日本語教師になりたい人）のためのwebサイトです。
  <br>「日本語の使い方」を実例とともにもう一度見つめ直し、学習者の学びをサポートしたい！
  <br>よりよい日本語教育を目指し、学び続ける教師のためのサイトです。  
  
  <!--<br>・学習者が「話せるようになる」授業って、一体どんな授業のこと・・・？             -->
  <!--<br>・授業にはどんな準備を、どうやって、何に注意してしたらいいの？                   -->
  <!--<br>・授業中は、どんなところに注意して、どんな導入を、練習をさせたらいいの？        -->
  <!--<br>このサイトでできること、目指していること、ぜひ、ご一読ください！-->
 
 </h3>
</div>
</div>

<br>

<div class="container-fluid">
  <ul class="row">
    <li class="col-md-offset-1 col-md-10 col-xs-12 image"><%= image_tag 'about1.png',:width =>'1000px' %></li><br>
    <li class="col-md-offset-1 col-md-10 col-xs-12 image"><%= image_tag 'about2.png',:width =>'1000px' %></li><br>
    <li class="col-md-offset-1 col-md-10 col-xs-12 image"><%= image_tag  'about3.png',:width =>'1000px' %></li>
  </ul>
</div>




</body>

<br>
<div class ="linkbtn">
  <%= link_to "  Top  ", root_path,class: "btn btn-4" %>
</div>



