/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 */


/*モバイルファースト*/
/*==================
 ▼ブレイクポイントのルール▼
 -スマホを基本設計にする-
 *〜479px：SP縦
 *480px〜：SP横
 *600px〜タブレット
 *960px〜小型PC
 *1280px〜大型PC
==================*/

/*  画面サイズが480pxまで  */
/*p {}*/


/*@media screen and (min-width:480px) and ( max-width:600px) { */
    /*　画面サイズが480pxからはここを読み込む　*/
/*p {}*/
/*.headertitles{*/
/*   font-size: 3vh;*/
/*}*/
/*}*/

/*@media screen and (min-width:600px) and ( max-width:960px) {*/
    /*　画面サイズが600pxから960pxまではここを読み込む　*/
/*p {}*/
/*}*/

/*@media screen and (min-width:960px) and ( max-width:1280px) {*/
    /*　画面サイズが960pxから1280pxまではここを読み込む　*/
/*p {}*/
/*}*/

/*@media screen and (min-width:1280px) {*/
    /*　画面サイズが1280pxからはここを読み込む　*/
/*p {}*/
/*}*/

/*モバイルファースト終わり*/


/*デスクトップファースト　メディアクエリ設定*/

@media screen and (max-width: 1024px) {
/* 1024pxまでの幅の場合に適応される */
    body {
      
    }
}
@media screen and (max-width: 768px) {
/* 768pxまでの幅の場合に適応される */
     body {
    }
 
    /*.navbar-toggle {*/
    /*display: none;*/
    /*}*/
 
/*    .navbar-collapse.collapse {*/
/*    display: block!important;*/
/*    height: auto!important;*/
/*    padding-bottom: 0;*/
/*    overflow: visible!important;*/
/*}*/
}

@media screen and (max-width: 480px) {
/* 480pxまでの幅の場合に適応される スマホ縦サイズ*/
   /*topics/indexページ*/
   .fudanshushi{
     width: 70%;
     font-size: 3vh;
   }
   
  .wrap{
     width:96%;  
   }
 
  .examplepost{
     width:96%;    
  }
  
   /*Aboutページ*/
    .shushi {
        width: 100%;
        font-size: 3vh;
    }
   /*topページ  */
    .logo{
       width: 60%;
    }
    .logo b{
      font: 100 10vh "shirokuma";
      color: #302833;
      text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em white, 0 0 0.5em #FFF59D, 0 0 0.1em #FFF9C4, 0 10px 3px #546E7A;
    }

    .logo b span{
      font: 100 8vh "shirokuma";
      animation: blink linear infinite 10s;
    }

    .toplink.mb.container{
      margin-bottom: 100px;
    }
    
    .toplink img .toplink.mb{
      width: 80%;
      height: 80%;
      text-align: center;
    }

     /*labページ*/
    .labshushi{
        width: 90%;
        padding: 3px;
    }
    
    h3 .lab-panel{
         font-size: 2rem;
    }

/*ideasページ*/
    table.ideatable{
    max-width: 400px;
    margin-left: auto !important;
    margin-right: auto !important;
    }
   
    /*// タイトル*/
    .titleonly{
        width: 300px !important;
        font-size:2vh;
    }
    
    /*// テーブル内showボタン*/
    .labshowbtn{
        width: 50px !important;
        margin-right: 30px;
    }
   
   .mbtable{
       width: 480px !important;
   }
   
 
}

@media screen and (max-width: 320px) {
/* 320pxまでの幅の場合に適応される */
    body {
      
    }
}

/*デスクトップファースト設定*/



/*★全ページ共通の設定*/


/*表示・非表示の切り替え*/
/*クラスを付けるだけ*/

/**PCの場合*PCだったら、表示する*/
.pc	{ display:inline!important; }
.mb	{ display:none!important; }

@media screen and (max-width: 480px) {

/*タブレット、スマホの場合　タブレット・スマホだったら、表示しない*/
.pc	{ display:none!important; }
.mb { display:inline!important; }
}

/*例*/
/*PCの時に表示させたい画像*/
/*<img class="pc" src="/top_pc.png">*/
/*スマホの時に表示させたい画像*/
/*<img class="mb" src="/top_mb.png">*/




/*フリーフォント*/
@font-face {
  font-family:'shirokuma';
  src: url('/SHIROKUMA.TTF'); 
}


/*ヘッダー*/
header{
  width:100%;
}



.headertitles{
  /*font-family: 'Baloo', cursive;*/
  /*font-family: 'Unica One', cursive;*/
  /*font-family: 'Electrolize', sans-serif;*/
  font-family: 'Kite One', sans-serif;
  color: #fdd835 !important;
  font-family: 'shirokuma';
  font-size: 4vw
}


.thinline{
    width: 100%;
    height:20px;
    margin-top: 5px;
}


.headerbtn{
    text-align:right;
}



/*ナビゲーションバー*/
/*ナビゲーションバー*/
/*.navbar {*/
/*    position: relative;*/
/*    min-height: 50px;*/
/*    margin-bottom: 20px;*/
/*    border: 1px solid transparent;*/
/*}*/


/*ナビゲーションバー上の隙間*/
.logospace{
  width:100%;
  padding-top: 20px;
}

/*ナビゲーションバーのリンク*/
.nav a{
   font-family:'shirokuma';
   font-size: 2.5vw;  
   /*color: #9fb9c1;*/
   color: #fdd835 !important;
}

/*「hello～さん」の設定*/
.navbar-text{
  font-family: 'shirokuma';
  font-size: 2vw;
}


/*コンテンツ全体の背景*/
body{
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 150px;
  /*background-color: #f3f3f3;*/
  background-image: url(top-denim-ver.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}


/*ページタイトル*/
.titles{
   font-family: 'shirokuma'; 
}

/*フッター*/
footer {
    position: fixed;
    bottom: 0;
    top: 50;
    padding-top:10px;  
    width: 100%;
    text-align: center;
}

footer p{
  font-family: 'shirokuma' 
}



/*メディアクエリの設定*/
/*@media screen and (max-width:600px){*/
 /*画面サイズが600px以下の時に適用 */
 
/* body{*/
/*   font-size: 3.5vw*/
/* }*/
 
/* h1{*/
/*   font-size: 7.5vw*/
/* } */
 
/* h2{*/
/*   font-size: 6vw*/
/* }*/
 
/* header{*/
/*   width: auto;*/
/*   margin: 0.5%;*/
/* }*/
 
/* footer{*/
/*   margin:0.5%;*/
/* }*/

 
/*#top{*/
/*   background-image: url('poitit.jpg');*/
/* }*/
 
/*スマホサイズおわり*/



/*不明なもの*/
/*.body{*/
/*  position: relative;*/
/*}*/

/*.rowB{*/
/*  padding-top: 10px;*/
/*}*/


.linkbtn{
  text-align: center;
}

/*.bottom{*/
/*  height:100px;*/
/*}*/



/* <- Demo Stuff Start */

.menu.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 80vw;
  margin: 0 auto;
  min-height: 100vh;
}


.btn {
  flex: 1 1 auto;
  margin: 6px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color:darkgray;
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
 }

/* Demo Stuff End -> */



/* <- Magic Stuff Start */

/*マーブルボタン*/
.btn:hover {
  background-position: right center /* change the direction of the change here */;
}

.btn-1 {
  background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}

.btn-2 {
  background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
}

.btn-3 {
  background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
}

.btn-4 {
  background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
}

.btn-5 {
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 51%, #ffecd2 100%);
}

/* Magic Stuff End -> */


/*フルスクリーンメニュー*/
* {
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
a,
a:visited,
a:hover,
a:active {
text-decoration: none;
color: inherit;
}

/*コメントアウトすると、チェックボックスが出てしまう。有効にすると、他の記入欄が消えてしまう*/
/*input {*/
/*display: none;*/
/*}*/

.cp_fullscreenmenu {
position: fixed;
z-index: 1;
top: 0;
right: 0;
}
/*menuコンテンツ*/
.cp_fullscreenmenu .menu {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-image: linear-gradient(to top, #FFC107 0%, rgba(255,177,153,0.7) 100%);
}
.cp_fullscreenmenu .menu label {
position: absolute;
top: 20px;
right: 20px;
width: 30px;
height: 30px;
cursor: pointer;
background-size: 100%;
}
.cp_fullscreenmenu .menu .menucont {
font-size: 54px;
position: relative;
top: 50%;
margin-top: -330px;
padding-bottom: 20px;
text-align: center;
}
.cp_fullscreenmenu .menu ul {
margin: 0 auto;
padding: 0;
list-style: none;
}
.cp_fullscreenmenu .menu ul li,
.cp_fullscreenmenu .menu ul li a {
transition: all 0.3s ease;
}
.cp_fullscreenmenu .menu ul li a {
display: block;
padding: 10px 0;
color: #ffffff;
font-family: 'shirokuma';
font-size: 6vh;
}
.cp_fullscreenmenu .menu ul li a:hover {
color: #fcc800;
}
.cp_fullscreenmenu .menu ul li:hover {
background: #fef4f4;
}
/*クリックしたらメニューが開閉の動作*/
.cp_fullscreenmenu .menuEffects {
visibility: hidden;
transition: opacity 0.5s, visibility 0.5s;
opacity: 0;
}
.cp_fullscreenmenu .menuEffects ul {
transition: all 0.5s;
transform: translateY(0%);
}
.cp_fullscreenmenu #menuToggle:checked ~ .menuEffects {
visibility: visible;
transition: opacity 0.5s;
opacity: 1;
}
.cp_fullscreenmenu #menuToggle:checked ~ .menuEffects ul {
opacity: 1;
}
.cp_fullscreenmenu #menuToggle:checked ~ .hamburger .open {
background-color: transparent;
}
.cp_fullscreenmenu #menuToggle:checked ~ .hamburger .open:before {
position: absolute;
z-index: 1;
top: 0;
right: 0;
content: '';
transform: rotate(45deg);
background-color: #ffffff;
}
.cp_fullscreenmenu #menuToggle:checked ~ .hamburger .open:after {
position: relative;
z-index: 1;
top: 0;
right: 0;
content: '';
transform: rotate(-45deg);
background-color: #ffffff;
}
.cp_fullscreenmenu #menuToggle:not(:checked) ~ .menuEffects ul {
transform: translateY(-30%);
}
/*ハンバーガー*/
.cp_fullscreenmenu .hamburger {
position: relative;
top: 0;
right: 0;
display: block;
width: 50px;
height: 50px;
padding: 15px;
cursor: pointer;
}
.cp_fullscreenmenu .hamburger:hover .open:before {
top: -9px;
}
.cp_fullscreenmenu .hamburger:hover .open:after {
top: 5px;
}
.cp_fullscreenmenu .open,
.cp_fullscreenmenu .open:before,
.cp_fullscreenmenu .open:after {
position: relative;
display: block;
width: 24px;
height: 4px;
border-radius: 2px;
background-color: #ffca28;
transition: all 0.3s ease;
}
.cp_fullscreenmenu .open {
top: 8px;
cursor: pointer;
}
.cp_fullscreenmenu .open:before {
top: -8px;
content: '';
transform: rotate(0deg);
}
.cp_fullscreenmenu .open:after {
top: 4px;
content: '';
}

/*フルスクリーンメニュー終わり*/






/*メニュー*/
/*menu*/
/*input {*/
/*  display: none;*/
/*}*/

/*.open {*/
/*  background-color: #ffff66;*/
/*  width: 24px;*/
/*  height: 4px;*/
/*  display: block;*/
/*  border-radius: 2px;*/
/*  cursor: pointer;*/
/*  position: relative;*/
/*  top: 8px;*/
/*}*/

/*.open:before {*/
/*  content: "";*/
/*  background-color: #ffff66;*/
/*  width: 24px;*/
/*  height: 4px;*/
/*  display: block;*/
/*  border-radius: 2px;*/
/*  position: relative;*/
/*  top: -8px;*/
/*  transform: rotate(0deg);*/
/*  transition: all 0.3s ease;*/
/*}*/

/*.open:after {*/
/*  content: "";*/
/*  background-color: #ffff66;*/
/*  width: 24px;*/
/*  height: 4px;*/
/*  display: block;*/
/*  border-radius: 2px;*/
/*  position: relative;*/
/*  top: 4px;*/
/*  transform: rotate(0deg);*/
/*  transition: all 0.3s ease;*/
/*}*/



/*.menuOpen {*/
/*  width: 20px;*/
/*  height: 16px;*/
/*  display: block;*/
/*  padding: 10px;*/
/*  cursor: pointer;*/
/*  float: right;*/
/*}*/

/*.menuOpen:hover .open:before {*/
/*  top: -9px;*/
/*}*/

/*.menuOpen:hover .open:after {*/
/*  top: 5px;*/
/*}*/

/*.menu {*/
/*  position: fixed;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  top: 0;*/
/*  left: 0;*/
/*  background: #ffff66;*/
  /*background: rgba(255, 135, 2, 0.9);*/
/*}*/

/*.menu label {*/
/*  width: 30px;*/
/*  height: 30px;*/
/*  position: absolute;*/
/*  right: 20px;*/
/*  top: 20px;*/
/*  background-size: 100%;*/
/*  cursor: pointer;*/
/*}*/

/*.menu .menuContent {*/
/*  position: relative;*/
/*  top: 10%;*/
/*  font-size: 35px;*/
/*  text-align: center;*/
/*  padding-bottom: 10px;*/
/*  margin-top: 10px;*/
/*}*/

/*.menu ul {*/
/*  list-style: none;*/
/*  padding: 0;*/
/*  margin: 0 auto;*/
/*}*/

/*.menu ul li a {*/
/*  text-align: left;*/
/*  margin-left: 30px;*/
/*  display: block;*/
/*  color: silver;*/
/*  text-decoration: noconne;*/
/*  transition: color 0.2s;*/
/*  font-family: Trebuchet MS;*/
/*  text-transform: uppercase;*/
/*  padding: 10px 0;*/
/*}*/

/*.menu ul li a:hover {*/
/*  color: darkgray;*/
/*}*/

/*.menu ul li:hover {*/
/*  background: #ffff8f;*/
/*}*/

/*.menuEffects {*/
/*  opacity: 0;*/
/*  visibility: hidden;*/
/*  transition: opacity 0.5s, visibility 0.5s;*/
/*}*/

/*.menuEffects ul {*/
/*  transform: translateY(0%);*/
  /*transition: all 0.5s;*/
/*}*/

/*#menuToggle:checked ~ .menuEffects {*/
/*  opacity: 1;*/
/*  visibility: visible;*/
/*  transition: opacity 0.5s;*/
/*}*/

/*#menuToggle:checked ~ .menuEffects ul {*/
/*  opacity: 1;*/
/*}*/

/*#menuToggle:checked ~ .menuOpen .open {*/
  /*background-color: transparent;*/
/*}*/

/*#menuToggle:checked ~ .menuOpen .open:before {*/
/*  content: "";*/
/*  background-color: white;*/
/*  transform: rotate(45deg);*/
/*  position: absolute;*/
/*  top: 0;*/
/*  right: 0;*/
/*  z-index: 1;*/
/*}*/

/*#menuToggle:checked ~ .menuOpen .open:after {*/
/*  content: "";*/
/*  background-color: white;*/
/*  transform: rotate(-45deg);*/
/*  position: relative;*/
/*  top: 0;*/
/*  right: 0;*/
/*  z-index: 1;*/
/*}*/

/*#menuToggle:not(:checked) ~ .menuEffects ul {*/
/*  transform: translateY(-30%);*/
/*}*/


