// Place all the styles related to the ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .table{
//   table-layout: fixed;
// }

// p.text-overflow{
//     width:300px;
//     overflow:hidden;
//     white-space:nowrap;
//     text-overflow:ellipsis;
// }

// ideaページの趣旨
.ideashushi{
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #333333;
    font-size: 2vw;
}
// テーブルの設定
table.ideatable{
    width: 96%;
    margin-left: auto !important;
    margin-right: auto !important;
}

// タイトル
.titleonly{
    width: 40%;
    font-size:2vh;
}

// テーブル内showボタン
.labshowbtn{
    width: 16%;
    margin-right:30px;
}

// コンテンツ部分
.ellipsis {
    width: 40%;
    position: relative;
    height: 40px;
    overflow: hidden;
    line-height: 20px;
    font-size: 1.8vh;
}
 
.ellipsis:before, .ellipsis:after {
    position: absolute;
    // background: #fff;
}
 
.ellipsis:before {
    content: "･･･";
    bottom: 0;
    right: 0;
}

.ellipsis:after {
    content: "";
    width: 100%;
    height: 100%;
}

.minibtn{
    margin-left: 50px;
}


// show

.ideaarticle{
    background-color: #f3f3f3;
    width: 80%;
    margin-left: 50px !important;
    margin-right: auto;
}

.ideatitle{
    padding-bottom: 10px;
}


.ideacontent{
    line-height:2
}