// Place all the styles related to the labs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.labshushi{
    width: 55%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #333333;
    font-size: 3vh;
}

p.text-overflow{
    width:300px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

.minibtn{
    margin-left: 50px;
}

.lablist{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.lab-panel{
    background-color: #f3f3f3;
    border: dashed 1px darkgray;
    padding: 10px;
    margin: 10px;
}

.lab-panel h3{
    font-size: 3.5vh;
}

.labarticle{
    background-color: #f3f3f3;
    width: 80%;
    margin-left: 50px !important;
    margin-right: auto;
}