// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.qa{
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-size: 1.5rem;
}

.qaimage{
    width: 200px;
    height: 200px;
}

.qa li{
    list-style: none;
    font-size: 1.5rem;
}