/*// Place all the styles related to the questions controller here.*/
/*// They will automatically be included in application.css.*/
/*// You can use Sass (SCSS) here: http://sass-lang.com/*/

.panel-heading{
    text-decoration: none
}


.panel-body{
    text-decoration: none
}


.search{
    padding: 10px;
    text-decoration: none;
}


h4, h2, p{
    text-decoration: none;
}


.last{
    padding-bottom: 20px;
    margin-bottom: 100px;
}

.balloon1 p{
    color: black;
}

.container_qa{
    padding-left: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    font-size: 1.5rem;
}


.last{
    margin-bottom: 100px;
}

.qaimage{
    width: 200px;
    height: 200px;
}

.qa li{
    list-style: none;
    font-size: 1.5rem;
    text-decoration: none;
}

.indentback{
    text-indent:3rem;
}

/* 吹き出し本体 - 普通の吹き出し */
.balloon1{
  position: relative;
  padding: 10px;
  background-color: #fff3ad;
  border-radius: 10px;         /* 角丸を指定 */
  width: 70%;
  height: auto;
  margin: 10px;
}
/* 三角アイコン - 普通の吹き出し */
.balloon1::before{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -15px;
  top: 20px;
  border-right: 15px solid #fff3ad;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}