/*// Place all the styles related to the questions controller here.*/
/*// They will automatically be included in application.css.*/
/*// You can use Sass (SCSS) here: http://sass-lang.com/*/

/*questions/index*/

/*各コンテナ*/
.container_qa{
    padding-left: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    font-size: 1.5rem;
}

.questionshushi{
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #98c7cd;
    font-size: 3vh
}


/*そうだんの使い方パネルのヘッダー*/
.panel-heading{
    text-decoration: none
}

/*そうだんの使い方パネルのボディー*/
.panel-body{
    text-decoration: none
}

/*検索窓*/
.search{
    padding: 10px;
    text-decoration: none;
}


/*質問入力欄の高さを広げる*/
/*質問する(index)・回答する(show)共通*/
.variable-area{
  min-height: 3em;
  border: 2px solid #ccc;
  background-color: #fff;  
}








/*セクションタイトル・指示文*/
h4, h2, p{
    text-decoration: none;
}

/*質問する部分のコンテナのクラス*/
.last{
    padding-bottom: 20px;
    margin-bottom: 100px;
    /*margin-left: 8px;*/
}

.minibtn{
    margin-left: 50px;
}

/*みんなの質問一覧の質問タイトル*/
.qa li{
    list-style: none;
    font-size: 1.5rem;
    text-decoration: none;
}

/*questions/show*/

/*回答する欄の名前*/
.answername{
    display: inline !important;
}


/*みんなの回答吹き出し*/
.balloon1 p{
    color: black;
}

/* 吹き出し本体 - 普通の吹き出し */
.balloon1{
  position: relative;
  padding: 10px;
  background-color: #fff3ad;
  border-radius: 10px;         /* 角丸を指定 */
  width: 90%;
  height: auto;
  margin: 10px;
}

/* 三角アイコン - 普通の吹き出し */
.balloon1::before{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -15px;
  top: 20px;
  border-right: 15px solid #fff3ad;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}
