<h1 class="titles">日本語ぶんせき</h1>


<!--<div class="container">-->
<!-- <div class="row">-->
<!--    <%# if user_signed_in? %>-->
<!--     <div class="lab-panel col-md-6">-->
<!--      <ul>-->
<!--       <%# @labs.each do |lab| %>-->
<!--       <li><%#= link_to lab.title, lab_path(lab.id) %></li>-->
<!--       <%# end %>-->
<!--      </ul>-->
<!--     </div>-->
<!--    <%# else %>-->
<!--      <p>ログイン後、詳細ページに移ります。please login/sign up</p>    -->
<!--       <%# @labs.each do |lab| %>-->
<!--       <div class="lab-panel col-md-6">-->
<!--       <h2><%#= lab.title %></h2>-->
<!--       </div>     -->
<!--     <%# end%>-->
<!--    <%# end%>-->
<!-- </div>-->
<!--</div>   -->

    <div class="lablist">
    <% if user_signed_in? %>
     <% @labs.each do |lab| %>
       <div class="lab-panel col-md-5">
         <h3><%= link_to lab.title, lab_path(lab.id)  %></h3>
         <p class="text-overflow"><%= lab.content %></p>
       </div>     
     <% end %>  
    <% else %>
     <p>ログイン後、詳細ページに移ります。please login/sign up</p>    
     <% @labs.each do |lab| %>
       <div class="lab-panel col-md-6">
         <h2><%= lab.title %></h2>
       </div>     
     <% end %>
    <% end %>
    </div>
 </div>
</div>   
