<body>

<h1 class="titles">日本語ぶんせき</h1>

 <!--labの趣旨説明-->
  <div class="well well-sm labshushi" style="font-family:'shirokuma";>
    <h3 class="labshushi">日本語のせんせいにとって、
    <br>日本語のぶんせきはじゅんびの大事なプロセス。
    <br>「つかえるようになる」ためには<br>「つかわれている日本語」のぶんせきが大事! 
    <br>ぶんせきの方法をしょうかいしたり、<br>ぶんせきけっかをシェアしたりします。
    </h3>  
  </div>
  <!--趣旨説明おわり-->

<!--<div class="container">-->
<!-- <div class="row">-->
<!--    <%# if user_signed_in? %>-->
<!--     <div class="lab-panel col-md-6">-->
<!--      <ul>-->
<!--       <%# @labs.each do |lab| %>-->
<!--       <li><%#= link_to lab.title, lab_path(lab.id) %></li>-->
<!--       <%# end %>-->
<!--      </ul>-->
<!--     </div>-->
<!--    <%# else %>-->
<!--      <p>ログイン後、詳細ページに移ります。please login/sign up</p>    -->
<!--       <%# @labs.each do |lab| %>-->
<!--       <div class="lab-panel col-md-6">-->
<!--       <h2><%#= lab.title %></h2>-->
<!--       </div>     -->
<!--     <%# end%>-->
<!--    <%# end%>-->
<!-- </div>-->
<!--</div>   -->

    <div class="lablist">
    <%# if user_signed_in? %>
     <% @labs.each do |lab| %>
       <div class="lab-panel col-md-5">
         <h3><%= link_to lab.title, lab_path(lab.id)  %></h3>
         <p class="text-overflow"><%= lab.content %></p>
       </div>     
     <% end %>  
    <%# else %>
    <!-- <p>ログイン後、詳細ページに移ります。please login/sign up</p>    -->
    <!-- <%# @labs.each do |lab| %>-->
    <!--   <div class="lab-panel col-md-6">-->
    <!--     <h2><%#= lab.title %></h2>-->
    <!--   </div>     -->
    <!-- <%# end %>-->
    <!--<%# end %>-->
    </div>
 </div>
</div>   

</body>