<h1 class="titles">日本語ぶんせき</h1>


<div class="container_qa">
<div class="rowA qa">
 <div class="col-md-10 col-xs-10 panel panel-default">
    <div class="panel-heading">
 	  Title: <h2><%= @lab.title %></h2>
 	</div>
 	<div class="panel-body">
       Content: <h4 class="labcontent"><%= simple_format(@lab.content) %></h4>	
 	</div>
 </div>
</div>
</div>


<div class ="linkbtn">
  <%= link_to "  index  ", labs_path, class: "btn btn-2" %>
</div>
