<h1>lab. show</h1>


<div class="container_qa">
<div class="rowA qa">
 <div class="col-md-10 col-xs-10 panel panel-default">
    <div class="panel-heading">
 	  Title: <%= @lab.title %>
 	</div>
 	<div class="panel-body">
       Content: <%= @lab.content %>	
 	</div>
 </div>
</div>
</div>
